# Copy this file to .env
# Adjust to your needs to accommodate docker-compose

#hostuser=yourusername
#CONTROLLERIMAGENAME=yourimagename
#CONTROLLERCONTAINERNAME=yourcontainername

# Set this to point to your local repo wherever it might be
# Build context assumed to be the parent directory 
ANSIBLELOCALREPO=..

# For Windows users, set your HOME like
#HOME=C:/Users/yourusername

# For Linux hosts, this as optional, as $HOME is present in your shell.
#HOME=/home/yourusername

# Contains your private/public keys along with your .ssh/config file
#SSHDIR=${HOME}/.ssh

# Contains AWS CLI config and credential files
#AWSCONFIGDIR=${HOME}/.aws

# Contains .ansible/ansible-utr.pw among other files
#ANSIBLEDIR=${HOME}/.ansible
